<h1>{{ btnTitulo }}</h1>
 
<form *ngIf="formularioGrupo" [formGroup]="formularioGrupo" (ngSubmit)="submit()">
 
  <input type="hidden" formControlName="id">
 
  <div class="input_box">
<label for="nome">Nome</label>
<input id="nome" type="text" formControlName="nome" placeholder="Digite o nome" required>
</div>
 
<div class="input_box">
<label for="descricao">Descrição</label>
<input id="descricao" type="text" formControlName="descricao" placeholder="Digite a descrição" required>
</div>
 
<div class="input_box">
<button type="submit">{{ btnAcao }}</button>
<!-- [disabled]="!formularioVeiculo.valid" -->
<!-- <button type="button" routerLink="">Voltar</button> -->
</div>
 
</form>