<!-- NAVBAR COM BOTÕES -->
<div class="navbar">
  <button routerLink="/veiculos-home"><span>Cadastrar veículo</span></button>
  <button routerLink="/grupos-home"><span>Cadastrar grupo</span></button>
  <button routerLink="/empresas-home"><span>Cadastrar empresa</span></button>
  <button routerLink="/planos-home"><span>Cadastrar plano</span></button>
  <button><span>Cadastrar assistência</span></button> 
</div>

<!-- TABELAS CENTRALIZADAS -->
<div class="table-container">

  <table class="table">
    <thead>
      <tr><th>Veículo</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let veiculo of veiculos">
        <td>{{ veiculo.placa }}</td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr><th>Grupo</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let grupo of grupos">
        <td>{{ grupo.nome }}</td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr><th>Empresa</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas">
        <td>{{ empresa.nome }}</td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr><th>Plano</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let plano of planos">
        <td>{{ plano.descricao }}</td>
      </tr>
    </tbody>
  </table>

</div>
